<header class="site">
  <a class="logo" href="/">Flutter<em>Cook</em></a>
  <nav>
    <a href="/recipes">Recipes</a>
    <a href="/trends">GitHub</a>
    <a href="/youtube">YouTube</a>
    <a href="/about">About</a>
    <a href="https://github.com/fluttercook" target="_blank" rel="noopener">Repo</a>
  </nav>
</header>
